@model github_search.ViewModels.Pages.HomeVM

<hr class="description-hr" />
<div id="account-list">
    <div class="row">
        @foreach (var item in Model.Results.items)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-bottom-10">
                <div class="row">
                    @Html.Partial("_AccountItem", item)
                </div>
            </div>
        }
    </div>
</div>
