@model github_search.ViewModels.HomeVM
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    @using (Html.BeginForm())
        {
            <div class="row margin-top-10 margin-bottom-10">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                    <div class="search-surround"><input name="SearchValue" type="text" placeholder="Search..." value="@Model.Search" class="form-control" /></div><button class="btn btn-standard">GO</button>
                </div>
            </div>
        }
</div>