@model github_search.ViewModels.HomeVM
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6">

        <div class="">
            @using (Html.BeginForm("Search", "Home"))
            {
                <div class="row">
                    <div class="col-md-12">
                        <h1>Search for a user</h1>
                        <p>Please search on the login username, you can use a more generic name to see more results.</p>
                    </div>
                </div>
                <div class="row margin-top-10 margin-bottom-10">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Search, new { placeholder = "Search...", @class = "form-control" })
                            </div>
                            <div class="order-sm-5 col-sm-1">
                                <button class="btn btn-standard">GO</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Model.Results != null)
{
    <div class="margin-top-20 margin-bottom-20">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_AccountGrid", Model)
            </div>
        </div>
    </div>
}
