@model github_search.ViewModels.Pages.HomeVM
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Search", "Home"))
        {
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-12">
                    <h1>Search for a Github user...</h1>
                    <p>Please search on the login username.</p>
                    <ul>
                        <li>Search 'DanielPau' to see a list of potential matches.</li>
                        <li>Search 'DanielPaulWilkinson' to see my profile.</li>
                    </ul>
                </div>
                <div class="col-md-12 col-12 ">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Search, new { placeholder = "Search...", @class = "form-control" })
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary">GO</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Results != null &&
     Model.User == null &&
     Model.Results.total_count > 0)
{
    <div class="margin-top-20 margin-bottom-20">
        <p>It appears we cannot find user with the login name of <span class="font-weight-bold color-blue">'@Model.Search'</span> did you mean any of the following? </p>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_AccountGrid", Model)
            </div>
        </div>
    </div>
}
else if (Model.Search != null && Model.Results != null && Model.Results.total_count <= 0 && Model.User == null)
{
    <p>It appears no user with the login name of <span class="font-weight-bold color-blue">'@Model.Search'</span> exists please try again </p>
}