//colours
$blue: #006bb3;
$white: #FFFFFF;
$black: #4A4A4A;

$primary-colour: $blue;

//validation
$error-text: #b94a48;
$error-border: #CB7877;
$error-bg: #FEF1EC;

// Screen Resolutions
$screen-xxs-max: 400px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;


$colours: ( 'blue' $blue, 'black' $black, 'white' $white, 'error-text' $error-text, 'error-border' $error-border, 'error-bg' $error-bg );
