
<div class="footer">
    <hr />
    <div class="row">
        <div class="col-sm-12 order-1">
            <a href="/">
                <p>Daniel Wilkinson 2019 &copy;</p>
            </a>
        </div>
    </div>
</div>


