
<div class="footer">
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a href="/" class="text-right">
                <p>Daniel Wilkinson 2019 &copy;</p>
            </a>
        </div>
    </div>
</div>


