<div class="header">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <span class="pull-left margin-top-30 margin-right-20 toggle-main-menu hidden-lg hidden-md">
                <img src="~/Content/images/menu.png" alt="Menu" />
            </span>
            <img src="~/Content/images/Logo.png" class="main-logo text-center-sm margin-top-20" alt="North Star Logo" />
        </div>
        <div class="col-md-4 col-sm-6 hidden-xs">
            <img src="~/Content/images/Top_right.png" class="text-right img-responsive" alt="North Star Hexigons" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="navbar">
                <div class="hidden-md hidden-lg text-right">
                    <span class="close-main-menu"><span class="glyphicon glyphicon-remove"></span></span>
                    <hr />
                </div>
                <a href="#">My Details</a>
                <a href="#">My Housing</a>
                <a href="#">My Repairs</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
</div>

