<div class="header">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="/">
                <img src="~/Content/Images/logo.png" class="main-logo text-center-sm margin-top-20" alt="North Star Logo" />
            </a>
        </div>
    </div>
    <hr />
</div>

